.movie__block{
    background-color: #222;
    padding: 2px;
    box-sizing: border-box;
}

.movie__block_title{
    color: #ffffff;
    margin: 10px 0 30px;
    text-align: center;
    font-size: 13px;
}
.movie__block_inner{
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    margin-bottom: 20px;
    padding: 0 10px;
    text-transform: uppercase;
}