.header {
    background-color: #ffffff;
}

.header__inner {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    display: flex;
    column-gap: 20px;
}

.nav__link{
    text-transform: uppercase;
    color: #000000;
    font-size: 20px;
}
