footer {
    margin-top: 100px;
    background-color: #000;

}

.footer__content {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;

    font-size: 20px;
}

.footer__content p:first-child {
    margin-bottom: 20px;
}

