* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #131415;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1170px;
    padding: 0 20px;
    margin: 0 auto;
}

.header {
    background-color: #000;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    max-width: 10%;
}

.header__menu {
    display: flex;
    column-gap: 40px;
}

.header__menu a {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
}

.title {
    max-width: 500px;
    margin: 50px auto 0;
    font-size: 60px;
    color: #ffffff;
    text-align: center;
}

.characters {
    margin-top: 50px;
}

.characters__inner {
    display: grid;
    grid-template-columns: repeat(4, calc((280 / 1170) * 100%));
    grid-column-gap: 16px;
    grid-row-gap: 40px;
}

.characters__elements {
    background-color: #0000000d;
    color: #ffffff;
}

.characters__elements_info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.pagination {
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

.pagination button {
    padding: 9px 9px;
    color: #fff;
    border-right: 1px solid #333;
    background-color: #1f2123;
    text-decoration: none;
}

.pagination button:hover {
    background-color: #ca563f;
}

.character__details_inner {
    display: flex;
    column-gap: 40px;
}

.character__details_content {
    width: calc((830 / 1170) * 100%);
}

.character__details_contentInner {
    display: flex;
}

.character__details_content h2 {
    margin: 0 0 10px;
    text-align: center;
    color: #ffffff;
}

.character__details_contentLeft {
    width: calc((100 / 830) * 100%);
}

.character__details_contentRight {
    width: calc((730 / 830) * 100%);
}

.character__details_contentLeft p {
    color: #ffffff;
}

.character__details_contentRight p {
    color: #ca563f;
}

.character__details_contentLeft p,
.character__details_contentRight p {
    padding: 10px;

}

.character__details_contentLeft p:nth-child(even),
.character__details_contentRight p:nth-child(even) {
    background-color: #111;
}
