.edit-history {
    display: grid;
    grid-template-columns: 45% 55%;
}

.edit-history__block {
    position: relative;
}

.edit-history img {
    height: 100%;
}

.edit-history__content {
    max-width: 240px;
    position: absolute;
    bottom: 10%;
    margin-left: 30px;
}

.edit-history__date {
    position: absolute;
    top: 20px;
    right: 20px;
}

